@mixin koodo-legals($width: 100%, $position: "right", $align: "bottom") {
  overflow: visible;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 10px;
  font-family: "Arial";
  font-size: 10px;
  text-align: left;
  width: $width;
  min-height: 30px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: white transparent transparent transparent;
    bottom: -6px;

    @if $position == "left" {
      left: 10px;
    } @else if $position == "center" {
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
    } @else if $position == "right-top" {
      top: 5px;
      bottom: auto;
      right: -10px;
      border-width: 5px 5px 5px 6px;
      border-color: transparent transparent transparent white;
    } @else {
      right: 10px;
    }

    @if $align == "top" {
      top: -5px;
      bottom: 0px;
      border-width: 0 6px 5px 6px;
      border-color: transparent transparent white transparent;
    }
  }
}

@mixin koodo-cut($width, $height, $color, $skewX: 0, $skewY: 0) {
  display: block;
  width: $width + 0px;
  height: $height + 0px;
  background-color: $color;
  transform: skew($skewX + 0deg, $skewY + 0deg);
  -webkit-transform: skew($skewX, $skewY);
}
