@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,700&display=swap");

body {
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

main {
  display: flex;
  width: 1368px;
  margin: 0 auto 50px auto;
  flex: 1 1 auto;
  max-width: calc(100% - 40px);
  padding: 0 20px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

main.wrap {
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

#list-container {
  flex: none;
  align-self: flex-start;
  padding-right: 30px;
  margin-right: 40px;
  border-right: 1px solid grey;
  min-height: 300px;
  max-height: calc(100vh - 300px);
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}

#banner-select-container {
  position: relative;
  display: flex;
}

#banner-select-container button {
  display: block;
  margin-left: 10px;
  height: 38px;
  margin-top: 1px;
  overflow: hidden;
  border-radius: 50%;
  width: 38px;
  padding: 10px;
}

#banner-select-container button:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px #4d90fe;
}

#banner-select-container button svg {
  display: block;
  width: 1em;
  height: 1em;
}

#select-container {
  position: relative;
  flex: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0 0 20px 0;
}

.select {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  min-width: calc(100% + 10px);
}

#hidden-select-value {
  height: 1px;
  visibility: hidden;
  font-size: 14px;
  padding: 0 18px 0 10px;
}

.select::after {
  content: "<>";
  font: 11px "Consolas", monospace;
  color: #aaa;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  padding: 0 0 2px;
  border-bottom: 1px solid #ddd;
  position: absolute;
  pointer-events: none;
  right: 8px;
  top: 10px;
}

select {
  margin: 0;
  border: 1px solid black;
  background-color: #222;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  padding: 10px 18px 10px 10px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
}

.list:not(:last-child) {
  margin-bottom: 25px;
}

ul {
  list-style: none;
  padding: 5px;
  margin: 0;
}

li:not(:last-child) {
  margin-bottom: 10px;
}

iframe {
  border: none;
}

#wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

button {
  background: #222;
  color: white;
  padding: 8px 15px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
  border: none;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.8);
  display: inline-flex;
  align-items: center;
  line-height: 1;
  justify-content: center;
  font-weight: bold;
  will-change: background-color, color;
  transition-property: background-color, box-shadow, transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  transform: translate3d(0, 0, 0);
}

button.current {
  background: #444;
  color: white;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 1);
  transform: translate3d(0, 1px, 0);
  transition-timing-function: ease-out;
}

header {
  width: 1368px;
  margin: 0 auto;
  max-width: calc(100% - 40px);
  padding: 20px 20px 0px 20px;
}

footer {
  padding: 15px 10px;
  background: #ddd;
  box-shadow: -1px 0px 3px 0px rgba(0, 0, 0.75);
}

footer a {
  color: #222;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover,
footer a:focus {
  color: #222;
  text-decoration: underline;
}

footer > div {
  display: flex;
  justify-content: space-between;
  width: 1368px;
  margin: 0 auto;
  max-width: calc(100% - 40px);
  padding: 0 20px;
}

h1 {
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

h2 {
  margin-top: 0;
  text-align: center;
  font-weight: normal;
  margin-bottom: 25px;
  font-size: 20px;
}

h4 {
  margin-top: 0;
  text-transform: capitalize;
}
